body{
    
  margin: 40px;
  padding: 0;
}
h1{
  color: #000;
  
}
h2{
  color: #000;
}
.label {
  display: inline-block;
  color: black;
  width: 180px;
  text-align: left;
  margin-top: 30px;
  
}
textarea{
  height: 120px;
  width: 380px;
}
